/* General styles */
body {
    font-family: Arial, sans-serif;
    background-color: #1e1e1e;
    color: #e0e0e0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

body#homepage {
    height: 100vh;
}

/* Title styles */
h1 {
    color: #ffffff;
    margin-bottom: 10px;
    margin-top: 10px;
}

h3 {
    color: #bbbbbb;
    margin-bottom: 20px;
}

/* Search container styles */
#searchct {
    display: flex;
    justify-content: center;
    align-items: center;
}

#searchct input[type="text"] {
    padding: 10px;
    width: 300px;
    background-color: #333333;
    border: 1px solid #555555;
    border-radius: 5px 0 0 5px;
    color: #e0e0e0;
    outline: none;
}

#searchct input[type="text"]::placeholder {
    color: #bbbbbb;
}

#searchct button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #ffffff;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

#searchct button:hover {
    background-color: #0056b3;
}

#box {
    width: 70%;
    padding: 20px;
    border-radius: 10px;
}

#results {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    width: 100%;
}

#results ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#results li {
    padding: 15px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

#results .item-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#results .title {
    font-size: 1.2em;
    margin: 0 10px 0 0;
    color: #e0e0e0;
}

#results .score {
    background-color: #007BFF;
    color: #ffffff;
    padding: 3px 7px;
    border-radius: 3px;
    font-size: 0.9em;
    margin-right: 10px;
}

#results a {
    text-decoration: none;
    color: #1a73e8;
    font-size: 1em;
    word-break: break-word;
}

#results a:hover {
    text-decoration: underline;
}

.item-header {
    margin-bottom: 10px;
}
